<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Mongo Scraper</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="/saved">Saved Articles</a></li>
            <li><a href="/deleted">Deleted Articles</a></li>
        </ul>
        {{!-- <a class="btn btn-warning navbar-btn" href="/deleted">Bring deleted articles</a> --}}
        <a class="btn btn-primary navbar-btn" id="scrapeBtn" href="/api/articles/scrape">Scrape New Articles!</a>
    </div>
</nav>